/EastsRestaurant/.vs
/EastsRestaurant/BusinessLayer/bin
/EastsRestaurant/BusinessLayer/obj
/EastsRestaurant/DataAccessLayer/bin
/EastsRestaurant/DataAccessLayer/obj
/EastsRestaurant/DtoLayer/bin
/EastsRestaurant/DtoLayer/obj
/EastsRestaurant/EntityLayer/bin
/EastsRestaurant/EntityLayer/obj
/EastsRestaurant/WebApi/bin
/EastsRestaurant/WebApi/obj
/EastsRestaurant/WebUI/bin
/EastsRestaurant/WebUI/obj
